body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    padding: 50px;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    width: 90%;
    max-width: 350px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #aaa;
}

input[type="text"] {
    padding: 10px;
    font-size: 18px;
    width: 100%;
    box-sizing: border-box;
    max-width: 400px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: hsl(134, 82%, 56%);;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
}

button:hover {
    background-color: hsl(134, 82%, 80%);
}

.result {
    margin-top: 20px;
}

.error {
    margin-top: 20px;
    color: red;
    font-weight: bold;
}